<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The World If 2015</title>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <!-- <link rel="stylesheet" href="/bower_components/mnv-cmp-storytiles-reveal/dist/css/style.css"> -->
    <link rel="stylesheet" href="/bower_components/mnv-cmp-storytiles-reveal/css/style.css">
    <script src="/bower_components/mnv-cmp-storytiles-reveal/bower_components/handlebars/handlebars.runtime.min.js"></script>
    <script src="/bower_components/mnv-cmp-storytiles-reveal/js/tpl/template.js"></script>
    <script src="/bower_components/mnv-shared/js/widget.js"></script>
    <script src="/bower_components/mnv-shared/js/wlcm.js"></script>
    <script src="/bower_components/mnv-shared/js/docReady.js"></script>
    <!-- <script src="/bower_components/mnv-cmp-storytiles-reveal/dist/js/init.js"></script> -->
    <script src="/bower_components/mnv-cmp-storytiles-reveal/js/init.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>