<!doctype html>
<html class="no-js">
<head>
    <title>{{page.title}}</title>
    {{#each page.meta}}
        <meta {{#each this}} {{@key}}="{{this}}" {{/each}} >
    {{/each}}
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="/bower_components/modernizer/modernizr.js"></script>
    <link rel="stylesheet" href="/bower_components/mnv-cmp-storytiles-reveal/dist/css/style.css">
    <link rel="stylesheet" href="/bower_components/mnv-cmp-masthead/dist/css/style.css">
    <script src="/bower_components/mnv-shared/js/widget.js"></script>
    <script src="/bower_components/mnv-shared/js/docReady.js"></script>
    <!-- Paywall -->
    <!-- <link rel="stylesheet" href="libs/coin/project/src/coin_paywall.css"> -->
    <!-- <script src="libs/coin/project/src/coin_paywall.js"></script> -->
    <!-- <script src="/bower_components/mnv-cmp-storytiles-reveal/dist/js/init.js"></script> -->
    <script src="/bower_components/mnv-cmp-storytiles-reveal/dist/js/init.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <!-- <div data-mnv="ecMasthead" class="mnv-widget mnv-ec-masthead">
        {{>mnv-cmp-masthead/dist/tpl/html}}
    </div> -->
    {{{body}}}
    <!-- TODO ADD this only on DEV ENV -->
    <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.2.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
//]]></script>
</body>
</html>