<div data-mnv="ecStoryTilesReveal" class="mnv-widget mnv-ec-storytilesreveal {{className}}" data-article-id="{{article.id}}" data-article-path="{{article.path}}" id="ec-storytilesreveal-0" data-config="{{WIFconf}}">
  <!-- Production template on bower folder === mnv-cmp-storytiles-reveal/dist/tpl/html -->
  {{>mnv-cmp-storytiles-reveal/dist/tpl/html}}
</div>