<div data-mnv="ecStoryTilesReveal" class="mnv-widget mnv-ec-storytilesreveal {{className}}" data-articleID="{{articleID}}" id="ec-storytilesreveal-0">
  <!-- Production template on bower folder === mnv-cmp-storytiles-reveal/dist/tpl/html -->
  {{> ec-storytilesreveal}}
</div>